<head>
    <title>{{title}}</title>
	<link rel='stylesheet' href='/angular/angular-csp.css'/>
	<link rel='stylesheet' href='/angular-bootstrap/ui-bootstrap-csp.css'/>
	<link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.min.css'/>
	<link rel='stylesheet' href='/bootstrap/dist/css/bootstrap-theme.min.css'/>
    <link rel='stylesheet' href='/views/public/css/common.css'/>
</head>
<body>  
    <script src='/jquery/dist/jquery.min.js'></script>
    <script src='/angular/angular.min.js'></script>
    <script src='/angular-bootstrap/ui-bootstrap.min.js'></script>
    <script src='/angular-bootstrap/ui-bootstrap-tpls.min.js'></script>
    <script src='/bootstrap/dist/js/bootstrap.min.js'></script>
    <script src='/controllerIndex.js'></script>
    <h1>SASDF</h1>
    {{title}}


    {% include "../public/header.html" %}
</body>